.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1170px;
  margin: auto;
  background-color: #000;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    .hero__desc {
      margin-block: 30px;
    }
    .hero__btn {
      display: flex;
      justify-content: center;
    }
  }

  .hero__desc {
    h2 {
      font-family: Inter;
      font-size: 48px;
      font-weight: 600;
      line-height: 60px;
      letter-spacing: 0.04em;
      text-align: left;
      color: #fff;
      max-width: 300px;
    }
    .hero__logo {
      display: flex;
      align-items: center;
      gap: 24px;
      p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: #fff;
      }
    }
    .hero__btn {
      a {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid;
      }
    }
  }
}
.hero__img {
  img {
    width: 100%;
  }
}

//----------------Categories--------------

.big__title {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #000;
  margin-top: 20px;
}
.categories {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  margin: auto;
  margin-top: 100px;

  .categories__items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-block: 60px;
    padding-bottom: 70px;
    border-bottom: 0.5px solid #000000;
    .categories__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 170px;
      height: 145px;
      border: 1px solid #0000004d;
      transition: 0.5s;
      &:hover {
        background-color: #db4444;
        i {
          color: #fff;
        }
      }
      i {
        font-size: 3rem;
      }
      p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #000;
      }
    }
  }
}

.param__title {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #db4444;
  position: relative;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 40px;
    top: -10px;
    left: -25px;
    border-radius: 4px;
    background-color: #db4444;
    border: solid;
  }
}
